@model IEnumerable<Gym_Management.Models.Management.Message>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>

    @if (User.IsInRole(Gym_Management.Constants.Roles.Admin))
    {
        <i class="fa fa-plus" aria-hidden="true"></i>
        @Html.ActionLink("Create New", "Create", "Message", new { @class = "styled-action-link-button" })
    }

</p>
<table id="message" class="styled-table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSend)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="active-row">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSend)
            </td>
            <td>
                @if (User.IsInRole(Gym_Management.Constants.Roles.Admin))
                {
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <i class="fa fa-search" aria-hidden="true"></i>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else
                {
                    <i class="fa fa-search" aria-hidden="true"></i>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#message").DataTable();

        });
    </script>
}